
* {
  box-sizing: border-box;
}
body {font-family: Verdana, sans-serif;
  background-color: rgba(172, 223, 236, 0.323);
text-align: center;
}



h2{
  color: #fcab13;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  display: flex;
  text-shadow: 5px 5px 10px rgb(37, 37, 37);
  font-size: 1.25em;
}



section{
  display: flex;
  width:100vw;
  height: 430px;
  
  border-radius: 10px;
}
.image{
  background-color: #424242;
}
section img {
  width: 0%;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.5;
  transition: .5s ease;
  border-radius: 20px;
  margin: 1%;
}
section img:hover{
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
  
}
p{
text-align: center;
text-shadow: 5px 5px 20px rgb(37, 37, 37);
}
.gedicht{
  text-align: center;
}
span{
  color: red;
  width: 5rem;
  height: 5rem;
}
.gedicht_ueberschrift{
  font-size: 2rem;
}